{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>

    <div class="container"><br>
        <h2>Book List</h2>
        <hr>

        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Author</th>
                    <th>Actioins</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}

                    <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.price }}</td>
                    <td>{{ book.author }}</td>
                    <td><a class="btn btn-info" href="/edit/{{ book.id }}">Edit</a>
                        <a class="btn btn-danger" href="/delete/{{ book.id }}">Delete</a>
                    </td>
                </tr>

                {% endfor %}

            </tbody>
        </table>
        <a class="btn btn-primary" href="/add_book/">Add Book</a>
    </div>

</body>
</html>